
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /merchandises/{document=**} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /shirts/{document=**} {
    	allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /jackets/{documents=**} {
    	allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /users/{document=**} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == document;
    }
    match /users/request.auth.uid/type {
      allow read: if request.auth.uid != null;
      allow update: if false;
    }
  }
}
//firebase deploy --only firestore (to set these rules.)
//firebase deploy --only firestore (to set these rules.)