
.merch-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 20px;
  background: linear-gradient(#fff, #f4f4f4);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card h3 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card .image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
}

.card div {
  padding: 10px;
  font-size: 14px;
  color: #666;
}

.card p {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.card a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.card a:hover {
  background-color: #555;
}

.card .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer
}
