.Logo {
  width: 50px;
  padding-bottom: 0%;
  padding-left: 2%;
}

.Heading {
  background-color: rgb(153, 151, 151);
  display: flex;
  align-items: center;
}
.SearchBar {
  margin: 0 auto;
  width: 90%;
}
.Welcome {
  margin: 0 auto;
}
.MenuBar {
  background-color: rgb(83, 76, 76);
  /*padding-top: 1%;
    padding-bottom: 1.5%;
    padding-left: 5%;*/
}

.MenuBar button {
  background-color: transparent;
  font-size: large;
  color: rgb(202, 201, 201);
  border-top: none;
  padding: 10px 50px;
  border-bottom: none;
  margin-left: 20px;
}

.MenuBar button:hover {
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}
