.inputbox label {
  margin-bottom: 0px;
}
.inputbox textarea {
  min-height: 40px;
  font-size: 1.5em;
}
div {
  display: block;
}
.btnUserPage {
  background: none;
  border: 1px solid #6219b6;
  padding: 0px 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 3px;
  color: #372294;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.profilePic {
  max-width: 120px;
  max-height: 120px;
}
.btnUserPage:hover {
  background: #93e7b6;
  color: #fff;
}
#wrapper {
  display: flex;
  border: 2px solid blue;
  margin: 0 auto;
  max-width: 900px;
  min-width: 550px;
}
#first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 160px;
  margin-left: auto;
  border: 4px solid red;
}

#second {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  border: 2px solid green;
  margin-left: auto;
}
#third {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 160px;
  margin-right: auto;
  text-align: left;
  border: 2px solid rgb(255, 0, 170);
}
#fourth {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 160px;
  margin-left: auto;
  text-align: right;
  border: 2px solid rgb(255, 0, 170);
}
