.inputbox label {
  margin-bottom: 0px;
}
.inputbox textarea {
  min-height: 40px;
  font-size: 1.5em;
}
div {
  display: block;
}
input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 416px;
}
@keyframes clickit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadein {
  animation: clickit 6s;
}
.btnUserPage2 {
  animation: fadeOut 3s;
  background: none;
  border: 1px solid #6219b6;
  padding: 0px 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 3px;
  color: #372294;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.btnUserPage {
  animation: clickit 0.9s;
  background: none;
  border: 1px solid #6219b6;
  padding: 0px 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 3px;
  color: #372294;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.profilePic {
  height: 150px;
  width: 150px;
  border-radius: 5%;
  overflow: hidden;
}
.profilePic img {
  width: 100%;
}

#wrapper {
  display: flex;
  border: 0px solid blue;
  margin: 0 auto;
  max-width: 900px;
  min-width: 400px;
}
#first {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  border: 0px solid green;
  margin-left: auto;
  min-width: 150px;
  max-width: 250px;
}
#second {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  border: 0px solid green;
  margin-right: auto;
  min-width: 277;
}

.btnwide {
  animation: clickit 0.9s;
  background: none;
  border: 2px solid #1f9751;
  padding: 8px 6px;
  border-radius: 4px;
  color: #1f9751;
  font-weight: bold;
  font-size: 1em;
  width: 432px;
  display: inline-block;
}
.btnwide:hover {
  background: #1f9751;
  color: #fff;
}
