.merch {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}
.merch-comments h4 {
  color: var(--heading-color);
}

.merch-comments ul {
  width: fit-content;
}

.FavBtn {
  background: none;
  border: 2px solid #c22424;
  padding: 6px 12px;
  border-radius: 4px;
  color: #c22424;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-left: 50px;
}

.FavBtn:hover {
  background-color: #c22424;
  color: #f2f2f2;
}

.merch-comments li {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.comment-author {
  display: flex;
  align-items: flex-start;
  color: grey;
}
.comment-date {
  display: flex;
  align-items: flex-end;
  color: grey;
  font-size: 0.5em;
  margin: 4px 0 10px;
}
.comment-content {
  color: black;
  font-size: 0.9em;
  display: flex;
  align-items: flex-start;
}
.add-comment label {
  margin-bottom: 0px;
}
.add-comment textarea {
  min-height: 40px;
  font-size: 1.5em;
}
